<div class="container-fluid d-flex flex-column">
  <div class="row flex-grow-1 h-100" style="z-index: 10;">
    <!-- visit-list Section -->
    <div class="col-lg-4 d-flex flex-column visit-section h-100">
      <app-visit-list [visitData]="visitData" (showOrdersForVisit)="showOrdersForVisit($event)"></app-visit-list>
    </div>

    <!-- Search and Orders Section -->
    <div class="col-lg-8 d-flex flex-column ms-3" style="border: 1px solid; background-color: #BCBFC1">
      <!-- Patient Search Bar -->
      <div class="row mb-3">
        <div class="col-12">
          <app-search-bar (patientSelected)="onPatientSelected($event)"></app-search-bar>
        </div>
      </div>

      <!-- Orders Section -->
      <div class="row flex-grow-1" *ngIf="!isLoadingOrderTypes">
        <!-- Order Types Column -->
        <div class="col-lg-3 d-flex flex-column">
          <app-order-types [mrn]="mrn" [selectedVisitID]="selectedVisitID"
            (orderTypeSelected)="viewOrderDetails($event)">
          </app-order-types>
        </div>



        <div class="col-lg-9 d-flex flex-column">
            <!-- Order Details Column -->
            <div *ngIf="isLoadingOrderDetails" class="col-lg-6 d-flex justify-content-center align-items-center w-100" style="height: 100%;">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          
            <!-- Clinical Notes -->
            <div *ngIf="selectedOrderTypeID === -1 && orderDetails.length > 0 && !isLoadingOrderDetails" style="height: 96%; background-color: white;">
              <app-clinical-notes [orderDetails]="orderDetails" [selectedOrderTypeID]="selectedOrderTypeID" [mrn]="mrn"
                [patientName]="patientName"></app-clinical-notes>
            </div>
          
            <!-- Regular Orders -->
            <div *ngIf="selectedOrderTypeID !== -1 && orderDetails.length > 0 && !isLoadingOrderDetails" style="height: 96%; background-color: white;">
              <app-order-details [orderDetails]="orderDetails" [selectedOrder]="selectedOrder"></app-order-details>
            </div>
          </div>
          
      </div>
    </div>
  </div>