<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center" id="orderTypesHeader" data-bs-toggle="collapse" href="#collapseOrderTypes" role="button" aria-expanded="false" aria-controls="collapseOrderTypes" style="cursor: pointer;">
          <div class="flex-grow-1 text-center">
            Order Types
          </div>
          <div class="ms-auto">
            <i class="fas fa-chevron-down"></i>
          </div>
        </div>
        <div id="collapseOrderTypes" class="collapse">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex" *ngFor="let orderType of orderTypes">
              <i [class]="iconMapping[orderType.orderTypeID]"></i>
              <span class="ps-4">{{ orderType.orderTypeNameEn }}</span>
              <span class="ps-4 text-dark">{{ orderType.count }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header text-center">
          Patient Visits for MRN: {{mrn}}
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered text-center">
              <thead class="thead-light">
                <tr>
                  <th>Visit ID</th>
                  <th>Visit Type ID</th>
                  <th>Visit Sub Type ID</th>
                  <th>Visit Date</th>
                  <th>Visit Start Date</th>
                  <th>Department ID</th>
                  <th>Doctor User ID</th>
                  <th>Doctor Name</th>
                  <th>Visit Arrival Type ID</th>
                  <th>Visit Mode ID</th>
                  <th>Visit Mode Note</th>
                  <th>Visit Sequence Number</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let visit of visitData" (click)="showOrdersForVisit(visit.visitID)">
                  <td>{{ visit.visitID }}</td>
                  <td>{{ visit.visitTypeID }}</td>
                  <td>{{ visit.visitSubTypeID }}</td>
                  <td>{{ visit.visitDate }}</td>
                  <td>{{ visit.visitStartDate }}</td>
                  <td>{{ visit.departmentID }}</td>
                  <td>{{ visit.doctorUserID }}</td>
                  <td>{{ visit.doctorUserNameEn }}</td>
                  <td>{{ visit.visitArrivalTypeID }}</td>
                  <td>{{ visit.visitModeID }}</td>
                  <td>{{ visit.visitModeNote }}</td>
                  <td>{{ visit.visitSequenceNumber }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Orders Table Section -->
  <div class="row justify-content-center mt-4" *ngIf="orderData.length > 0">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header text-center">
          Orders for Visit ID: {{selectedVisitID}}
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered text-center">
              <thead class="thead-light">
                <tr>
                  <th>Order ID</th>
                  <th>Department ID</th>
                  <th>Order Type</th>
                  <th>Order Date</th>
                  <th>Order Status ID</th>
                  <th>Note</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orderData">
                  <td>{{ order.orderID }}</td>
                  <td>{{ order.departmentID }}</td>
                  <td>
                    <i [class]="iconMapping[order.orderTypeID]"></i>
                    <span class="ps-2">{{ getOrderTypeName(order.orderTypeID) }}</span>
                  </td>
                  <td>{{ order.orderDate }}</td>
                  <td>{{ order.orderStatusID }}</td>
                  <td>{{ order.note }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
