.visit-data-container {
    padding: 20px;
  }
  
  .table-responsive {
    max-height: 400px;
    overflow-y: auto;
  }
  
  .modal-content {
    border-radius: 8px;
  }
  
  .card {
    margin-top: 20px;
  }
  
  .card-header {
    background-color: #4d72b5;
    color: #fff;
  }
  