<div class="container mt-4">
  <h3>Available Appointments</h3>

  <div class="row">
   
    <div class="col-md-8">
      <div class='demo-app-main'>
        <full-calendar [options]="calendarOptions">
          <ng-template #eventContent let-arg>
            <div style="display: flex; align-items: center;">
              <div 
                *ngIf="arg.event.extendedProps.color"
                [style.background-color]="arg.event.extendedProps.color" 
                style="width: 10px; height: 10px; margin-right: 5px; border-radius: 50%;">
              </div>
              <b>{{ arg.event.title }}</b>
            </div>
          </ng-template>
        </full-calendar>
      </div>
    </div>


    <div class="col-md-3">
      <div class="event-list mt-4">
        <h3>Marked Dates</h3>
        <ul class="list-group">
          <li *ngFor="let event of eventsList" class="list-group-item">
            <strong>{{ event.title }}</strong> - 
            Day: {{ formatDate(event['start'], 'EEEE') }}, 
            {{ formatDate(event['start'], 'MMMM dd, yyyy') }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
