.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.calendar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.calendar {
  flex: 3;
  height: 70vh; /* Set the maximum height for the calendar */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling if not needed */
}

.event-list {
  flex: 1;
  margin-left: 20px;
  overflow-y: auto;
  max-height: 70vh; /* Set the maximum height for the event list to match the calendar */
}

.event-list h3 {
  margin-top: 0;
}

.event-list ul {
  list-style-type: none;
  padding-left: 0;
}

.event-list .list-group-item {
  margin-bottom: 10px;
}
