body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
  }
  
  .container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background for content */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    position: relative;
    min-height: 100%; 
    box-sizing: border-box;
  }
  
  .background-image {
    background-image: url('https://blog.drugbank.com/content/images/size/w2000/2018/06/iStock-505888734.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1; 
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .header .col-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .logo {
    max-width: 100px;
    margin: 0 auto;
  }
  
  .doctor-info {
    text-align: right;
  }
  
  .lab-order {
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent background for better readability */
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    color: black; /* Set text color to black for readability */
  }
  
  .table th {
    background-color: rgba(242, 242, 242, 0.9);
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: black; 
  }
  .buttons {
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 10px;
    border: none;
    cursor: pointer;
    background-color: green;
    color: white;
  }


  

  