<div class="d-flex justify-content-between align-items-center m-4">
  <h4>Doctors List</h4>
  <!-- <button (click)="back()" class="btn btn-danger">Back</button> -->
</div>

<table style="width: 70%; margin: 0 auto; border-collapse: collapse;">
  <thead>
    <tr style="background-color: #f2f2f2;">
      <th>Doctor ID</th>
      <th >Doctor Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doctor of (dataDoctors | async)">
      <td style="border: 1px solid #ddd;">{{ doctor.userID }}</td>
      <td (click)="showDetails(doctor.userID)" style="border: 1px solid #ddd; padding: 8px; cursor: pointer;" >{{ doctor.accEnName }}</td> 
    </tr>
  </tbody>
</table>

