.search-bar {
    background-color: #BCBFC1;
    padding: 15px;
}

.search-container {
    position: relative;
}

.search-box {
    position: relative;
}

input[type="text"] {
    border: none;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: -1px;
    right: 0;
    max-height: 550px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.patient-table {
    width: 100%;
    border-collapse: collapse;
}

.patient-table th,
.patient-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.patient-table th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 1;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.table th {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

td.text-nowrap {
    white-space: nowrap;
}

td {
    text-align: center;
}
.btn-custom {
    width: 120px; /* Set the desired width for the button */
    color: black; /* Set the font color to black */
    background-color: #f8f9fa; /* Light background color */
    border: 1px solid #ddd; /* Optional: Add a border */
}

.btn-custom:hover {
    background-color: #e2e6ea; /* Slightly darker background on hover */
}

